.mybutton {
  background: #ca8504 !important;
  color: #fff !important;
  border-radius: 8px;
  border: 0;
  font-size: 1.1em;
  padding: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border: solid 1px #ca8504 !important;

  &:hover {
    opacity: 0.8;
  }

  &--white {
    background: #fff !important;
    border: solid 1px #d0d5dd !important;
    color: #344054 !important;
    font-size: 1.2em;
    span {
      font-size: 1.2em;
    }
  }
  &--blue {
    background: #194185 !important;
    border: solid 1px #194185 !important;
  }
}

@media only screen and (max-width: 900px) {
  .mybutton2 {
    height: 48px;
    min-width: auto;
    line-height: 48px;
    font-size: 1.2em;
  }
}

.ant-input {
  border-radius: 8px;
  border-color: #d0d5dd;
}

.upload-file-control {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
  }
  .text {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 54px;
    height: 54px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #2e90fa;
    &.edit {
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
    }
    .text1 {
      font-size: 10px;
    }
  }

  .custom-file-input {
    color: transparent;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border: 1px dashed #999;

    position: relative;
    z-index: 3;
    /* Gray/300 */

    border: 1px dashed #d0d5dd;
    border-radius: 8px;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    color: black;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    width: 100%;
    height: 100%;
  }
  .custom-file-input:active {
    outline: 0;
  }
}

.ant-drawer-close {
  order: 3;
}

.ant-drawer-title {
  text-transform: uppercase;
}
